doctype html
html
head
    meta(charset ="utf8")
body
    .chat-reply
        .reply-content
            textarea.replay_text-area(type ="text" placeholder ="輸入訊息")
        .nav-item
            button.replybtn(type ="button")送出
