#page-title {
    text-align: center;
}

.room {
    .chat-title {
        .chat-wrap {
            padding: 20px;
            text-align: center;
            background: #000000;
            color: #ffffff;
        }
    }

    .chat-content {
        height: 400px;
        overflow-y: scroll;
        border: 1px solid rgba(0,0,0,0.2);
        padding: 20px;
        box-sizing: border-box;
    }

    .chat-nav {
        width: 100%;

        .chat-nav-wrap {
            display: flex;

            button {
                flex: 1;
                padding: 10px;
            }
        }

        .chat-nav-ajax {}
    }
}
//貼圖區塊

.chat-image {
    .image-content {
        @include child-margin(10px);
        border: 1px solid rgba(0,0,0,0.2);

        .wrap {
            display: flex;
            padding: 20px 0;

            .image-item {
                img {
                    max-width: 120px;
                    opacity: 0.5;
                }
                &.active{
                  img{
                    opacity: 1;
                  }
                }
            }
        }
    }

    .nav-item {
        button {
            width: 100%;
            padding: 10px;
        }
    }
}
//回覆區塊

.chat-reply {
    .reply-content {
        border: 1px solid rgba(0,0,0,0.2);

        textarea {
            width: 100%;
            min-height: 165px;
            display: block;
            box-sizing: border-box;
            padding: 20px;
            border: none;
        }
    }

    .nav-item {
        button {
            width: 100%;
            padding: 10px;
        }
    }
}
