#page-title {
    text-align: center;
}

.flex-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.flex-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
}

.room {
    //標題
    .chat-title {
        .chat-wrap {
            padding: 20px;
            text-align: center;
            background: #000000;
            color: #ffffff;
        }
    }
    //message 區塊
    .chat-content {
        height: 400px;
        @include child-margin(25px);
        overflow-y: scroll;
        border: 1px solid rgba(0,0,0,0.2);
        padding: 40px;
        box-sizing: border-box;

        .chat-wrap {
            //對話訊息
            .message {
                .field-content {
                    .field-message:not(.message-image) {
                        display: block;
                        box-sizing: border-box;
                        max-width: 100%;
                        padding: 5px 15px;
                        background: #DFDFDF;
                        border-radius: 10px;
                    }
                }

                &.left {
                    display: flex;
                    align-items: flex-end;
                    flex-direction: row;

                    .field-content {
                        @extend .flex-left;
                    }
                }

                &.right {
                    display: flex;
                    align-items: flex-end;
                    flex-direction: row-reverse;

                    .field-content {
                        @extend .flex-right;
                    }
                }

                &.friend-message {
                    .field-content {
                        .field-message {
                            background: #000000;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    //控制區域
    .chat-nav {
        width: 100%;

        .chat-nav-wrap {
            display: flex;

            button {
                flex: 1;
                padding: 10px;
                border: none;
                background: #dfdfdf;

                &.active {
                    background: #000000;
                    color: #ffffff;
                }
            }
        }

        .chat-nav-ajax {}
    }
}
//貼圖區塊

.chat-image {
    .image-content {
        @include child-margin(10px);
        border: 1px solid rgba(0,0,0,0.2);

        .wrap {
            display: flex;
            padding: 20px 0;

            .image-item {
                img {
                    max-width: 120px;
                    opacity: 0.5;
                }

                &.active {
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .nav-item {
        button {
          width: 100%;
          padding: 10px;
          background: #000000;
          color: #ffffff;
          border: none;
          display: block;
        }
    }
}
//回覆區塊

.chat-reply {
    .reply-content {
        border: 1px solid rgba(0,0,0,0.2);

        textarea {
            width: 100%;
            min-height: 165px;
            background: #ffffff;
            display: block;
            box-sizing: border-box;
            padding: 20px;
            border: none;
        }
    }

    .nav-item {
        button {
            width: 100%;
            padding: 10px;
            background: #000000;
            color: #ffffff;
            border: none;
            display: block;
        }
    }
}
