doctype html
html
    head
    meta(charset ="utf8")
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    script(src ="/js/scripts.js")
    body
        h1 index page
        header#header.header
        #page
            #content
        footer#footer
